<div class="card">
    <div class="card-body">
        <h2 class="mb-3">Añadir tarjeta</h2>
        <form>
            <div class="input-group mb-3 input-group-sm">
                <span class="input-group-text"><i class="fa-solid fa-circle-user"></i></span>
                <input type="text" class="form-control" placeholder="Titular">
            </div>
            <div class="input-group mb-3 input-group-sm">
                <span class="input-group-text"><i class="fa-solid fa-credit-card"></i></span>
                <input type="text" class="form-control" placeholder="Nro de tarjeta">
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="input-group mb-3 input-group-sm">
                        <span class="input-group-text"><i class="fa-solid fa-calendar-days"></i></span>
                        <input type="text" class="form-control" placeholder="MM/AA">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="input-group mb-3 input-group-sm">
                        <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
                        <input type="password" class="form-control" placeholder="cvv">
                    </div>
                </div>
            </div>
            <div class="d-grid gap-2">
                <button class="btn btn-primary btn-sm" type="button"><i class="fa-solid fa-plus"></i> Añadir
                    tarjeta</button>

            </div>
        </form>
    </div>

</div>