<div *ngIf="addSucces">
    <app-spinner></app-spinner>
</div>
<div class="card">
    <div class="card-body">
        <h2 class="mb-3">{{title}} tarjeta</h2>
        <form [formGroup]="forms" (ngSubmit)="onSubmit()">
            <div class="input-group mb-3 input-group-sm">
                <span class="input-group-text">
                    <i class="fa-solid fa-circle-user" [class.text-success]="this.forms.get('titular')?.valid"
                        [class.text-danger]="this.forms.get('titular')?.invalid && this.forms.get('titular')?.touched">
                    </i>
                </span>
                <input type="text" class="form-control" placeholder="Titular" formControlName="titular">
            </div>
            <div class="input-group mb-3 input-group-sm">
                <span class="input-group-text"><i class="fa-solid fa-credit-card"
                        [class.text-success]="this.forms.get('numeroDeTarjeta')?.valid"
                        [class.text-danger]="this.forms.get('numeroDeTarjeta')?.invalid && this.forms.get('numeroDeTarjeta')?.touched">
                    </i>
                </span>
                <input type="text" class="form-control" placeholder="Nro de tarjeta" formControlName="numeroDeTarjeta"
                    maxlength="16">
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="input-group mb-3 input-group-sm">
                        <span class="input-group-text"><i class="fa-solid fa-calendar-days"
                                [class.text-success]="this.forms.get('fechaExpiracion')?.valid"
                                [class.text-danger]="this.forms.get('fechaExpiracion')?.invalid && this.forms.get('fechaExpiracion')?.touched">
                            </i>
                        </span>
                        <input type="text" class="form-control" placeholder="MM/AA" formControlName="fechaExpiracion"
                            maxlength="5">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="input-group mb-3 input-group-sm">
                        <span class="input-group-text">
                            <i class="fa-solid fa-key" [class.text-success]="this.forms.get('cvv')?.valid"
                                [class.text-danger]="this.forms.get('cvv')?.invalid && this.forms.get('cvv')?.touched">
                            </i></span>
                        <input type="password" class="form-control" placeholder="cvv" formControlName="cvv"
                            maxlength="3">
                    </div>
                </div>
            </div>
            <div class="d-grid gap-2">
                <button class="btn btn-primary btn-sm" type="button" [disabled]="forms.invalid" (click)="openPopup()"><i
                        class="fa-solid fa-plus"></i> {{title}}
                    tarjeta</button>

            </div>


            <div class="modal " tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">{{title}} tarjeta</h4>
                        </div>
                        <div class="modal-body">
                            <p>Esta por {{title}} la tarjeta nro. {{cardNumber}}. ¿Desea continuar?</p>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" (click)="closePopup()">
                                Cancelar
                            </button>
                            <button type="submit" class="btn btn-primary" (click)="closePopup()">
                                <i class="fa-solid fa-plus"></i> {{title}}
                                tarjeta
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>