<div class="card">
    <div class="card-body">
        <h2>Mis tarjetas</h2>
        <!-- <div *ngIf="cards">{{ cards }}</div> -->
        <table class="table">

            <tbody>
                <tr *ngFor="let card of cards">

                    <td>{{card.attributes.titular}}</td>
                    <td>{{card.attributes.numeroDeTarjeta}}</td>
                    <td>{{card.attributes.cvv}}</td>
                    <td><i class="fa-solid fa-pen text-info"></i></td>
                    <td><i class="fa-solid fa-trash text-danger"></i></td>
                </tr>

            </tbody>
        </table>
    </div>
</div>