<div class="card">
    <div class="card-body">
        <h2>Tarjetas guardadas</h2>
        <!-- <div *ngIf="cards">{{ cards }}</div> -->
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Titular</th>
                    <th scope="col">Nro</th>
                    <th scope="col">Valida hasta</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let card of cards">

                    <td>{{card.attributes.titular}}</td>
                    <td>{{card.attributes.numeroDeTarjeta}}</td>
                    <td>{{card.attributes.fechaExpiracion}}</td>
                    <td><i class="fa-solid fa-pen text-info" (click)="editCard(card)"></i></td>
                    <td><i class="fa-solid fa-trash text-danger"
                            (click)="openPopUp(card.id, card.attributes.numeroDeTarjeta)"></i></td>
                </tr>

            </tbody>
        </table>
    </div>
    <div class="modal " tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Eliminar tarjeta</h4>
                </div>
                <div class="modal-body">
                    <p>Esta por eliminar la tarjeta nro. {{cardNumber}}. ¿Desea continuar?</p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" (click)="closePopup()">
                        Cancelar
                    </button>
                    <button type="submit" class="btn btn-primary" (click)="deleteCard(idForDelete)">
                        <i class="fa-solid fa-plus"></i> Elimiinar
                        tarjeta
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>